{% extends 'base.html.twig'%}



{% block header %}

  <img src="{{ asset('images/TM(7).png') }}" />

{% endblock %}
{% block body %}
  <div class="image-slide">
    <img src="{{ asset('images/ordi1002.jpg') }}" />
  </div>

  <div class="logo-slide">
    <img src="{{ asset('images/TM(611).png') }}" />

    <h2>DEVELOPPEUR WEB</h2>

    <div class="p1">
      <p>Titouan Morvan</p>
    </div>

    <div class="container">
      <div class="center">
        <button class="btn">
          <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span>Compétences</span>
        </button>

      </div>
    </div>

    <div class="container1">
      <div class="center">
        <button class="btn">
          <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span>Réalisations</span>
        </button>
      </div>
    </div>

  </div>

  <div class="sur-competences">
    <div id="competence">
    </div>
      <h2>MES COMPETENCES</h2>
      <p>Découvrez toutes mes compétences !</p>
  </div>
  <div class="competences">
    <div class="competence">
      <img src="{{ asset('images/test1.JPG') }}" alt="" />
      <div><p>Conception d'interfaces graphiques<br> ~~ <br><strong>FRONT-END</strong></p></div>
    </div>

    <div class="competence1">
      <img src="{{ asset('images/test2.JPG') }}" alt="" />
      <div><p>Création de la colone vertébrale du site<br> ~~ <br><strong>BACK-END</strong></p></div>
    </div>
  
</div>


<div id="real"></div>
<div class="realisations">
  <h2>MES REALISATIONS</h2>
  <p>Découvrez mes réalisations et mes projets !</p>
  <div class="realisation">
  </div>
</div>


<div class="diapo">
  <div class="elements">
    <div class="element">

      {% for projet in projets %}
  
      <div class="projet projetslide"> 

        <div class="bouton-projet">
          <button><a href="projet/{{ projet.id }}">Lien vers le projet</a></button>
        </div>
        <img src="{{ asset('images/projets/' ~ projet.images) }}" alt="" />
    
      </div>
            
      {% endfor %}
  
    </div>
  </div>
    <div class="bouton-realisations">
      <button><a href="/realisations">Voir tout les projets</a><p> Voir + </p></button>
    </div>
</div>

</div>

{% endblock %}

{% block footer %}

  <div class="footer1">
    <div class="info">
      <div class="nom">
        <p>Titouan Morvan<br>
        ~<br>
        Développeur Web</p>
      </div>
      
      <div class="rs">
        Réseaux Sociaux :
        <a href="https://www.linkedin.com/in/titouan-morvan-06baa214b/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/1200px-LinkedIn_Logo.svg.png" alt="Logo linkedin"/></a>
      </div>
    </div>
  </div>

{% endblock %}






































